<p id="notice"><%= notice %></p>

<p>
  <b>Pigid:</b>
  <%= @piginfo.pigid %>
</p>

<p>
  <b>Breed:</b>
  <%= @piginfo.breed_id %>
</p>

<p>
  <b>Earid:</b>
  <%= @piginfo.earid %>
</p>

<p>
  <b>Sex:</b>
  <%= @piginfo.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%= @piginfo.birthday %>
</p>

<p>
  <b>Birthorder:</b>
  <%= @piginfo.birthorder %>
</p>

<p>
  <b>Brothersnum:</b>
  <%= @piginfo.brothersnum %>
</p>

<p>
  <b>Left:</b>
  <%= @piginfo.left %>
</p>

<p>
  <b>Right:</b>
  <%= @piginfo.right %>
</p>

<p>
  <b>Weight:</b>
  <%= @piginfo.weight %>
</p>

<p>
  <b>State:</b>
  <%= @piginfo.state %>
</p>

<p>
  <b>Momid:</b>
  <%= @piginfo.momid %>
</p>

<p>
  <b>Dadid:</b>
  <%= @piginfo.dadid %>
</p>

<p>
  <b>Com:</b>
  <%= @piginfo.com_id %>
</p>

<p>
  <b>Grouporder:</b>
  <%= @piginfo.grouporder %>
</p>

<p>
  <b>Mating:</b>
  <%= @piginfo.mating_id %>
</p>


<%= link_to 'Edit', edit_piginfo_path(@piginfo) %> |
<%= link_to 'Back', piginfos_path %>
