<p id="notice"><%= notice %></p>

<p>
  <b>Com:</b>
  <%= @breed.com_id %>
</p>

<p>
  <b>Code:</b>
  <%= @breed.code %>
</p>

<p>
  <b>Name:</b>
  <%= @breed.name %>
</p>

<p>
  <b>Series:</b>
  <%= @breed.series %>
</p>


<%= link_to 'Edit', edit_breed_path(@breed) %> |
<%= link_to 'Back', breeds_path %>
