<%= form_tag "/users/login", :method=>"post" do %>

  <div class="field">
    <%= label_tag :username,"用户名：" %><br />
    <%= text_field_tag :username %>
  </div>
  <div class="field">
    <%= label_tag :password,"密码：" %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag( "登录") %>
  </div>
<% end %>
